# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.so
.venv/
venv/
env/

# VSCode / IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
*.out

# Model checkpoints
models/
checkpoints/

# Datasets
dataset_fault/
*.zip
*.tar
*.tar.gz
*.7z

# Output (hide generated PNG images)
output/*.png

# OS files
.DS_Store
Thumbs.db
